# requirements.txt

# ML
numpy<2
opencv-python-headless==4.8.1.78
ultralytics




# data reqs
pandas
matplotlib
geopandas
shapely
osmnx
rasterio

# regular reqs
streamlit
supabase
sqlalchemy
psycopg2-binary
Pillow
PyPDF2
PyYAML
requests
tqdm
folium
streamlit-folium
rtree
pyproj
fiona

